.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;

    .logoNavBar {
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
}

    ul {
        display: flex;
        background-color: transparent;
        list-style: none;
        gap: 1rem;
        
        li{
            background-color: transparent;
            color: #ffffff;
        }

    }
}